* {
  margin: 0;
  padding: 0;
}

img {
  height: 100px;
  width: 100px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20%;
  width: 60%;
}

#tabuleiro {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

p {
  margin: 0 5%;
}

button {
  margin: 20px;
}

.divCard {
  padding: 10px;
  border: 1px solid #888888;
}
